In [1]:
# Import the dependencies.
import pandas as pd

# still need to install gmaps in the back end using anaconda prompt- this might be a good office hours question
# it was still waiting for a y/n answer so it had not installed yet
import gmaps
import gmaps.datasets

import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()
# I love it love it love it

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-07-27 18:14:41,22.0752,-159.3190,80.92,81,40,1.01
1,1,Fairbanks,US,2021-07-27 18:14:42,64.8378,-147.7164,63.10,77,90,4.61
2,2,Avarua,CK,2021-07-27 18:14:42,-21.2078,-159.7750,69.85,83,40,3.44
3,3,North Aurora,US,2021-07-27 18:14:28,41.8061,-88.3273,85.28,63,90,1.01
4,4,Vanderhoof,CA,2021-07-27 18:09:52,54.0166,-124.0198,66.22,40,18,4.43

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# temps

In [5]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
locations.head(5)

       Lat       Lng
0  22.0752 -159.3190
1  64.8378 -147.7164
2 -21.2078 -159.7750
3  41.8061  -88.3273
4  54.0166 -124.0198

In [6]:
# Heatmap of temperature - not working so maybe it has to do with my Google account ?

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(38.8, -77.223), zoom_level=12)

#lets make some of the paramters easier to play with
intensity_p = 110
rad_p = 25

# from the gmaps documentation - these are recommended settings
# higher max seems to make the circle less hot - that is counter intuitive but I will go with it for now
# heatmap_layer.max_intensity = 100

# changing the radius does not seem to have much effect
# heatmap_layer.point_radius = 25

# dissipating = False is what the lesson wants you to do but I do not like it
diss_p = True

#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=diss_p, max_intensity=intensity_p, point_radius=rad_p)


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Something is fishy in Fishtown- why is New York Cith "hotter" than Texas or Mexico City? 
# Greenland should be left out of the calculations because nobody is ever going to go there