## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Houma,US,84.97,few clouds,29.5958,-90.7195,Courtyard by Marriott Houma
1,3,Poplar Bluff,US,76.78,clear sky,36.7570,-90.3929,Holiday Inn Poplar Bluff
2,6,Fortuna,US,81.19,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna
3,10,Opelousas,US,80.49,clear sky,30.5335,-92.0815,"Holiday Inn & Suites Opelousas, an IHG Hotel"
4,11,Hilo,US,76.80,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
# so they don't want us to include the hotel name in the hotel_info list? I'm not buying it. I am including it anyway.
# also clean_hotel_df does not exist yet in this notebook, so I would have to grab that from WeatherPy_vacation.csv

clean_hotel_df = vacation_df.dropna()

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(40.0, -91.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Englewood Colorado to Chicago with stops in Lincoln, Omaha, and Kansas City by car

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Englewood"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Englewood"]
#
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Lincoln"]
# Omaha NE is actually "Douglas" (county?)
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Douglas"]
# Grandview is actually Kansas City Missouri
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Grandview"]
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,113,Douglas,US,84.74,clear sky,41.3,-96.167,Hilton Garden Inn Omaha West

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 =(vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])
end

(39.6478, -104.9878)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

start = (39.6478, -104.9878)
end = (39.6478, -104.9878)
waypoints = [stop1, stop2, stop3]
directions = gmaps.directions_layer(start, end, waypoints=waypoints)
# 
fig.add_layer(directions)

# fig.add_layer(heat_layer)

# Call the figure to plot the data.
# 
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,133,Englewood,US,82.24,scattered clouds,39.6478,-104.9878,Holiday Motel
1,34,Lincoln,US,85.28,clear sky,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
2,113,Douglas,US,84.74,clear sky,41.3000,-96.1670,Hilton Garden Inn Omaha West
3,171,Grandview,US,83.07,clear sky,38.8858,-94.5330,Holiday Inn Express & Suites Kansas City-Grand...

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

# I guess we have to do this again because now we are only working with the four cities instead of all cities
locations

       Lat       Lng
0  39.6478 -104.9878
1  40.8000  -96.6670
2  41.3000  -96.1670
3  38.8858  -94.5330

In [56]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(40.0, -91.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# fig.add_layer(directions)

# this time show the markers for the four cities only to comply with deliverable 3 rubric
fig.add_layer(marker_layer)

In [57]:
# 11b. Display the figure in next cell
fig

Figure(layout=FigureLayout(height='420px'))